.chart.body {
  --color-high: #F3F6F9;
  --color-main: #F1EDE5;
  --color-dark: #e5e0d5;
  --color-acc: #E7C9F0;
  --color-text: black;
  padding: 0px;
  height: 80vh;

  overflow: hidden;
	perspective: 500px;
	perspective-origin: center;
  position: relative;
}

.chart .member {
  background-color: var(--color-high);
  border: 2px solid var(--color-acc);
  border-radius: 8px;

  margin: 0px;
  padding: 8px 8px;
  font-size: 1rem;

  overflow: hidden;

	position: absolute;
	transform-origin: center;

	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.chart .member:hover {
  transition: .2s box-shadow;
  box-shadow: 0 0 10px #BBB;
}

.member.active {
  border-color: black;
}