@font-face {
  font-family: Ankh;
  src: url(/client/fonts/AnkhSanctuary-PVK0B.ttf);
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .sidebar {
    width: 16%;
  }
}

.sidebar {
  --color-high: #F3F6F9;
  --color-main: #F1EDE5;
  --color-dark: #e5e0d5;
  --color-acc: #F0E8E8;
  --color-text: black;
  background: var(--color-high);

  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 50px;

  width: 216px;
  height: 100vh;

  position: fixed;
  top: 0px;
  left: 0px;

  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0 0 10px var(--color-dark);
  transition: .3s;
  z-index: 99;
}

.sidebar .title {
  background: var(--color-acc);

  margin: 0px;
  padding: 24px;
  margin-bottom: 20px;

  display: flex !important;
}

.sidebar ul {
  margin: 0px;
  padding: 0px;
}

.sidebar ul li:nth-child(even) a {
  background-color: var(--color-off-high);
}

.sidebar li {
  list-style: none;
  position: relative;
  margin-left: 0px;
  display: grid;
}

.sidebar li a {
  font-size: 20px;
  font-weight: 400;
  transition: .3s;
  padding: 10px 10px 10px 26px;
  text-decoration: none;
  color: var(--color-text);
}

.sidebar li a:hover {
  background-color: var(--color-main) !important;
}

.sidebar li a::after {
  content: '>';
  position: absolute;
  font-weight: 500;
  opacity: 0;  
  top: 10px;
  right: -20px;
  transition: .5s;
}

.sidebar li a:hover::after {
  opacity: 1;
  right: 30px;
}

.title {
  font-family: Ankh, Geneva, Tahoma, sans-serif;
  font-size: 46px;
  color: var(--color-text);
}